<!--<div class="container">-->
	
	<div class="row featurette" style="height:auto;margin-bottom: 20px;">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{foodDeatil.name}}</h2>
          <p class="lead">
          	<b>食材：</b>{{foodDeatil.food}}
          </p>
          <p class="lead">
          	<b>做法：</b>{{foodDeatil.message}}
          </p>
          <p class="lead">
          	<b>预热：</b>{{foodDeatil.description}}
          </p>
        </div>
        <div class="col-md-5" style="margin-top: 105px;text-align: center;">
          <img class="featurette-image img-responsive" 
          	ng-src="http://tnfs.tngou.net/img/{{foodDeatil.img}}" alt="Generic placeholder image" style="width: 100%;height: auto;width: 62%;
    padding-left: -31px;
    height: auto;
    display: inline-block;
    border-radius: 50%;">
        </div>
      </div>
	
<!--</div>-->
