<div class="container marketing" style="margin-top: 110px;">

	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4" ng-repeat="fList in foodList">
			<img class="img-circle" ng-src="http://tnfs.tngou.net/img/{{fList.img}}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
			<h2>{{fList.name}}</h2>
			<p style="height:60px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;overflow: hidden;">
				<b>做法：</b>{{fList.description}}
			</p>
			<p>
				<a class="btn btn-default" ui-sref="navbar.foodDetail({id:fList.id})" role="button">
					View details &raquo;
				</a>
			</p>
		</div>
		<!-- /.col-lg-4 -->	
	</div>
	<!-- /.row -->

</div>
<!-- /.container -->
	
<nav>
  <ul class="pagination">
  	<li><a href="#">&laquo;</a></li>
    <li ng-repeat="page in pageCount">
    	<a href="#/navbar/foodList/{{id}}/{{page}}">
    	{{page}}</a>
    </li>
    <li><a href="#">&raquo;</a></li>  
  </ul>
</nav>
