<div class="row container" style="text-align: center; width: 100%;">
        <div class="col-lg-4 container" ng-if="details.id != undefined" style="text-align: center; width: 100%;">
          <img class="img-circle" ng-src="{{foodPrefix}}{{details.img}}" alt="{{details.keywords}}"  style="width: 140px; height: 140px;">
          <p style="font-size: 24px;">{{details.name}}</p>
          <ul>
          	<li>{{details.description}}</li>
          	<li>{{details.disease}}</li>
          	<li>{{details.food}}</li>
          	<li>{{details.keywords}}</li>
          	<li>{{details.message}}</li>
          	<li>{{details.summary}}</li>
          	<li>{{details.symptom}}</li>
          </ul>
          
        </div><!-- /.col-lg-4 -->
</div><!-- /.row -->