	<div class="row">
		<div class="col-md-2"></div>
  <div class="col-md-8 seachDiv">
  	   <p class="WeatherTitle">天气预报查询</p>
    <div class="input-group">
      <input type="text" class="form-control searchWearth" ng-model="searchText" placeholder="请输入要查询的城市">
      <span class="input-group-btn">
        <button class="btn btn-default searchWearthBtn" type="button" ng-click="searchWeather(searchText)">搜索</button>
       <!--数据绑定获得了搜索input里面的内容，然后通过searchWeather(searchText)点击事件将内容参数传入到页面中-->
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  
  	<div class="col-lg-4">
  		
        </div>
  
  	<div class="col-lg-4" style="border: 1px solid #D3DEE4;">
  			<ul class="WeatherCard">
  				<li>
  					<p><span>城市：</span>{{cityWeather.city}}</p>
  					<p><span>天气：</span>{{cityWeather.weather}}</p>
  					<p><span>温度：</span>{{cityWeather.temp}}℃</p>
  					<p><span>风速：</span>{{cityWeather.WS}}</p>
  					<p><span>风向：</span>{{cityWeather.WD}}</p>
  					<p><span>发布日期：</span>{{cityWeather.date}}&nbsp;&nbsp;{{cityWeather.time}}</p>
  					
  					
  				</li>
  				
  			</ul>
  		
  		
        </div>

	



  
</div>

